[Desktop Entry]
Version=1.0
Type=Application
Name=WebCraft_Studio
Comment=Crea páginas web sin código
Exec=/home/userx/IA-APPS/published/constructor-web/src-tauri/target/release/webcraft-studio
Icon=/home/userx/IA-APPS/published/constructor-web/docs/logo.png
Path=/home/userx/IA-APPS/published/constructor-web
Terminal=false
StartupNotify=false
